.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: calc(8px + 2vmin);
    width: 1200px; /* Adjust width for smaller screens */
    height: 77px; /* Adjust height for smaller screens */
    padding: 26px 60px; /* Adjust padding for smaller screens */
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 768px; /* Adjust width for smaller screens */
    height: 77px; /* Adjust height for smaller screens */
    padding: 26px 40px; /* Adjust padding for smaller screens */
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    font-size: calc(4px + 2vmin);
    width: 375px; /* Adjust width for smaller screens */
    height: 77px; /* Adjust height for smaller screens */
    padding: 26px 20px; /* Adjust padding for smaller screens */
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
  }
}
